@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 22px;
    
}

body {
    background-color: rgb(0, 0, 0);
    position: relative;
}

/*Contenedor padre*/
.header {
    background-color:#fbfcf6 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 40px 5%;
    position: absolute;
}


.header .title {position: relative;
    left: -6%;
}

.header .nav-links{position: relative;
    list-style: none;
    left: -2%;
}

.header .btn {position: relative;
    left: -2%
}

.banner {position: relative;
    top: 80px;}




.header .nav-links li{
    display: inline-block;
    padding: 0 25px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #593924;
    text-decoration: none;
    
}

.header .nav-links li a:hover{
    color: #cbb495;
    
}


.header .title h1{
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    cursor: pointer
    
}

.header .title h1:hover{
    transform: scale(1.01);
    
}

/*este es el contenedor del titulo */
.header .title h1{
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .btn button{
    font-weight: 500;
    color: #593924;
    padding: 1px 20px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #cea46e;
    color: #000000;
    transition: all 0.3s ease 0s;
    font-size: 22px;
    
}

.header .btn button:hover {
    background-color:#fbfcf6;
    color: #cea46e;
    transform: scale(1.05);
}

